@page "/ListarTramites"
@rendermode InteractiveServer
@inject CasoDeUsoTramiteConsultaPorEtiqueta CasoDeUsoTramiteConsultaPorEtiqueta
@inject CasoDeUsoTramiteBaja CasoDeUsoTramiteBaja
@inject NavigationManager Navegador
@inject UsuarioServicioLogin ServicioLogin
@inject IJSRuntime JsRuntime
@inject IServicioAutorizacion autorizacion

<Alerta @ref="alerta" />

<h1>Listado de Tramites</h1>

<div>
    <input type="text" @bind="busquedaEtiqueta" placeholder="Buscar por etiqueta" class="form-control" />
    <button class="btn btn-primary" @onclick="BuscarTramites">Buscar</button>
</div>

<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar" />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>ID Expediente</th>
            <th>Etiqueta</th>
            <th>Creacion</th>
            <th>Ult modificacion</th>
            <th>Ult usuario</th>
            <th>Contenido</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in _lista)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.expedienteId</td>
                <td>@t.etiqueta</td>
                <td>@t.creacion</td>
                <td>@t.modificacion</td>
                <td>@t.idUltimoUser</td>
                <td>@t.contenido</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => ModificarTramite(t)">
                        Modificar
                    </button>
                    <button class="btn btn-danger" @onclick="() => ConfirmarEliminacion(t)">
                        Eliminar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <button class="btn btn-danger" @onclick="() => IrAMenu()">
        Ir a menu
    </button>
</div>

@code {
    Tramite t = new Tramite();
    List<Tramite> _lista = new List<Tramite>();
    Usuario user=null!;
    Alerta alerta = null!;

    string busquedaEtiqueta { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        _lista = CasoDeUsoTramiteConsultaPorEtiqueta.Ejecutar(t.etiqueta);
        user = ServicioLogin.GetUser();
    }

    DialogoConfirmacion dialogo = null!;
    Tramite? _TramiteParaEliminar = null;

    private void ConfirmarEliminacion(Tramite t)
    {
        if (autorizacion.poseeElPermiso(ServicioLogin.GetUser(), "TramiteBaja"))
        {
            _TramiteParaEliminar = t;
            dialogo.ActualizarMensaje($"¿Desea eliminar el tramite {t.Id} del expediente {t.expedienteId}?");
            dialogo.Mostrar();
        }
        else
        {
            Console.WriteLine("Sin permisos necesarios");
            dialogo.ActualizarMensaje($"No tenes permisos necesarios");
            dialogo.Mostrar();
            alerta.MostrarAlerta();
            }
    }

    private void Eliminar()
{
    if (_TramiteParaEliminar != null)
    {
        CasoDeUsoTramiteBaja.Ejecutar(_TramiteParaEliminar.Id, user);
        _lista = CasoDeUsoTramiteConsultaPorEtiqueta.Ejecutar(busquedaEtiqueta) ?? new List<Tramite>(); // Actualizar la lista
        _TramiteParaEliminar = null;
    }
}


    void ModificarTramite(Tramite t)
    {
        if (autorizacion.poseeElPermiso(ServicioLogin.GetUser(), "TramiteModificacion"))
            Navegador.NavigateTo($"ModificarTramite/{t.Id}");
        else{
            Console.WriteLine("Sin permisos necesarios");
            dialogo.ActualizarMensaje($"No tenes permisos necesarios");
            dialogo.Mostrar();
            alerta.MostrarAlerta();
        }
    }

    void IrAMenu()
    {
        Navegador.NavigateTo("/MenuPrincipal");
    }

    private void BuscarTramites()
    {
        if (!string.IsNullOrEmpty(busquedaEtiqueta))
        {
            _lista = CasoDeUsoTramiteConsultaPorEtiqueta.Ejecutar(busquedaEtiqueta);
        }
        else
        {
            // Si no se ingresa ninguna etiqueta, cargar todos los trámites
            _lista = CasoDeUsoTramiteConsultaPorEtiqueta.Ejecutar("");
        }
    }
}